@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #EBF4F6;
    --cor-secundaria: #112E81;
    --cor-hover: #281C59;
    --cor-texto:#222;
    --cor-borda:#cecece;
    --cor-sombra:#fff;
    --bg-imagem:url('../imagens/clinica odonto.webp');
    --overlay-opacity:0.7;

    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-base:18px;
    --line-base:28px;
    --radius:5px;
    --espaço--padrao:10px;

}
*{
    margin:0;
    padding:0;
    font-family: var(--fonte-padrao);
    font-size:var(--font-base);
    line-height: var(--line-base);
}

html,body{
    height: 100%;
    background: 
    linear-gradient(
        rgba(255,255,255,var(--overlary-opacity))),
        rgba(255,255,255,var(--overlary-opacity)),
        var(--bg-image) no-repeat center center fixed;
        background-size: cover;
}

